node_modules
npm-debug.log
.git
.gitignore
README.md
.env.example
tests
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*
.phpunit.result.cache
bootstrap/cache/*
